<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
  <link href="/assets/css/syntax.css" rel="stylesheet" />
</head>


<body>

  <div id="pagecontainer" class="container">



    <div class="widebanner row">
      <div class="span12">
        <div class="banner72" id="banner72">

          <script type="text/javascript">
          </script>
          <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

        </div>
      </div>
    </div>



    <div id="content">


        {{ content }}


    </div>


  </div>


</body>
</html>
